log file name:   {{summary['filename']}}
line count:      {{summary['line_count']}}
start time:      {{summary['first_time']}}
end time:        {{summary['last_time']}}
{%- if not version.details.empty %}
gateway version: {{version.details.iloc[0]['version']}}
svn revision:    {{version.details.iloc[0]['revision']}}
{% endif %}

{%- if not os.details.empty %}
OS:     {{os.details.iloc[0]['type']}}, {{os.details.iloc[0]['version']}}
CPU:    {{os.details.iloc[0]['cpu']|trim}} ({{os.details.iloc[0]['bits']}})
Memory: {{os.details.iloc[0]['memory']}}
{%- endif%}

Status logs:
count: {{(status.summary['count']) | thousands_sep}}  mean: {{(status.summary['mean']/1000) | thousands_sep(3)}}ms  std: {{(status.summary['std']/1000) | thousands_sep(3)}}ms  min: {{(status.summary['min']/1000) | thousands_sep(3)}}ms  max: {{(status.summary['max']/1000) | thousands_sep(3)}}ms  p90: {{(status.summary['p90']/1000) | thousands_sep(3)}}ms

{% if startups|length > 0 -%}
Gateway startups:
{{'{:3} {:15s} {:15s} {:}'.format('IDX', 'Startup', 'Shutdown', 'Reason')}}
    {%- for startup in startups %}
{{'{:3} {:15s} {:15s} {:}'.format(
    loop.index,
    startup['startup_time']|as_time,
    startup['shutdown_time']|as_time,
    startup['shutdown_reason']
)}}
    {%- endfor %}
{%- endif %}

Connections:
{% for gw_id, gw_conns in connections|dictsort: -%}
    {%- for conn in gw_conns -%}
{{'{idx:3d} #{conn_id:<5s} {status:9s} {gw_id:12s} {begin_time:15s} {connect_time:15s} {close_time:15s} {cs_addr:21s} {code:5s} {reason}'.format(
    idx=loop.index, conn_id=conn['conn_id'], status=conn['status'], gw_id=conn['gw_id'],
    begin_time=conn['begin_time']|as_time,
    connect_time=conn['connect_time']|as_time,
    close_time=conn['close_time']|as_time,
    cs_addr=conn['cs_addr'], code=conn['code'], reason=conn['reason'])}}
    {%- endfor %}
{%- endfor %}
